body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 250vh;
    overflow: auto;
    flex: 1;
}

.block {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 0px solid red;
}

.links {
    display: flex;
    gap: 16px;
}

.top {
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px solid red;
}

.top,
.container,
.contenttwo,
.contentthree,
.contentfour {
    flex: 1;

}

.bigcontainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 0px solid red;
    flex: 1;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0px solid red;
    margin-bottom: 25px;
}

.contentthree {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

#contenttwoheader {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

button {
    background-color: #3882f6;
    padding: 10px;
    border-radius: 8px;
    width: 100px;
    border: none;
    font-weight: bold;
    font-weight: 800;
    color: white;

}

.quote {
    width: 40%;
    font-size: 36px;
    color: #1f2937;
}

#quoteend {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
}

.box {
    display: flex;
    gap: 50px;
    border-radius: 10px;
    border: 3px solid #3882f6;
    width: 150px;
    height: 150px;
}

.boxcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 80px;
    text-align: center;
}

.textbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.footer {
    background-color: rgb(29, 27, 27);
    color: white;
}

.contentfour {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigbox {
    background-color: #3882f6;
    width: 1200px;
    height: 175px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;

}

#shinsenbutton {
    border: 2px solid white;
}